.nav {
    /* margin: 10px; */
}
.search {
    display:flex;
    width: 40%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}
.dropdown {
    padding: 14px;
}
.dropdown-menu {
    width: 100px;
}
.UK_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-align: center;
}
.currency_flag {
    margin: 1px 6px 0 0;
    float: left;
    height: 20px;
}
.currency_text_gbp {
    font-size: 9px;
}

.pull-right {
    float: right;
    padding-left: 9px;
}
.topNav {
    display:flex;

}
.prettylittlething-logo {
    width: 300px;
    text-align: center;
}
.user_icons {
    display: flex;
    padding-right: 30px;
    justify-content: flex-end;
    align-self: center;
    width: 40%;
}
.user_icons div {
    padding: 2%;
}
.user_icons .need_help {
    text-align: end;
    text-decoration: underline;
    width: 100px;
}
.user_icons .need_help .need_help_link {
    color: #000000;
}
.user_icons .nav_icons {
    width: 20px;
}
.bottomNav {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Grotesk\ Light';
    font-size: .8rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 9px;
}
.bottomNav li {
    padding: 0 20px 0 20px;
}
.bottomNav .nav_sale {
    color: #f0373d;
}
.section_three {
    background: #fdbedb;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 4px;
    padding: 7px;
}
.section_three div {

}
.section_three .line-4 {
    font-size: 0.9rem;
    letter-spacing: 0;
}
.section_four {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.section_four div {
    background: #eaeaea; 
    width: 49.8%;
    padding: 4px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
}
.section_five img{
    width: 100%;
}
.section_six {
    padding: 8px 0;
}
.section_six .six {
    display: flex;
    justify-content: space-evenly;
    background: #eaeaea; 
}
.section_six .six div {
    padding: 4px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
}